# Игнорируем каталоги в корневом каталоге и их содержимое
/.settings
/.settings/*
*/Release/
*/Release/*

/dbg
/dbg/*
/logs
/logs/*


# Игнорируем все каталоги и их содержимое в любом каталоге проекта
logs/*

# Игнорируем файлы по имени во всех директориях
.buildpath
.project

# Игнорируем файлы по расширению во всех директориях
~*.doc
~*.docx
~*.xls
~*.xlsx
*.tmp
*.log
*.bak